<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fsn.cauly.cauly_flutter_sdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries>
        <package android:name="org.telegram.messenger"/>
        <package android:name="com.google.ar.core"/>
        <package android:name="com.google.android.youtube"/>
        <package android:name="com.kakao.talk"/>
        <package android:name="com.kakao.talk.alpha"/>
        <package android:name="com.kakao.talk.sandbox"/>
        <package android:name="com.kakao.onetalk"/>
        <package android:name="com.android.chrome"/>
        <package android:name="com.chrome.beta"/>
        <package android:name="com.chrome.dev"/>
        <package android:name="com.taboola.taboolasdkmonitor"/>
        <package android:name="com.ss.android.ugc.trill"/>
        <package android:name="com.instagram.android"/>
        <package android:name="com.twitter.android"/>
        <package android:name="com.popularapp.periodcalendar"/>
        <package android:name="kr.co.ll2016.theday"/>
        <package android:name="com.calendar.wom"/>
        <package android:name="com.clue.android"/>
        <package android:name="com.nhnent.pinkdiaryjr"/>
        <package android:name="com.wachanga.womancalendar"/>
        <package android:name="com.lbrc.PeriodCalendar"/>
        <package android:name="org.iggymedia.periodtracker"/>
        <package android:name="app.heymoon.release"/>
        <package android:name="constant.milk.periodapp"/>
        <package android:name="com.dnt7.threeW"/>
        <package android:name="io.rocketview.lowcost"/>
        <package android:name="kr.fitsme.app"/>
        <package android:name="com.ui.monyapp"/>
        <package android:name="kr.co.igrove.android.powderroomplus2"/>
        <package android:name="com.glowdayz.glowmee"/>
        <package android:name="kr.co.company.hwahae"/>
        <package android:name="kr.co.lohbs.app.android"/>
        <package android:name="kr.co.watson.mobile"/>
        <package android:name="kr.co.ivlog.mobile.app.cjonecard"/>
        <package android:name="com.oliveyoung"/>
        <package android:name="com.sec.android.app.samsungapps"/>
        <package android:name="com.skt.skaf.A000Z00040"/>
        <package android:name="com.kt.olleh.storefront"/>
        <package android:name="com.kt.olleh.istore"/>
        <package android:name="com.lguplus.appstore"/>
        <package android:name="android.lgt.appstore"/>
        <package android:name="kr.co.psynet"/>
        <package android:name="com.espn.score_center"/>
        <package android:name="kr.co.spotvnow.app"/>
        <package android:name="com.nbdproject.macarong"/>
        <package android:name="com.encar.encarMobileApp"/>
        <package android:name="com.danawa.autopush"/>
        <package android:name="com.ncsoft.lineagem19"/>
        <package android:name="com.nexon.v4kr"/>
        <package android:name="com.pubg.krmobile"/>
        <package android:name="com.kakaogames.odin"/>
        <package android:name="com.ncsoft.lineage2m19"/>
        <package android:name="com.devsisters.ck"/>
        <package android:name="com.stove.epic7.google"/>
        <package android:name="com.nhnent.Qpoker"/>
        <package android:name="com.neowiz.games.poker"/>
        <package android:name="com.nexon.fmk"/>
        <package android:name="com.shinhan.sbanking"/>
        <package android:name="com.kebhana.hanapush"/>
        <package android:name="com.kbstar.kbbank"/>
        <package android:name="com.kakaobank.channel"/>
        <package android:name="nh.smart.banking"/>
        <package android:name="com.ibk.android.ionebank"/>
        <package android:name="com.eugenefn.smartchampion2"/>
        <package android:name="com.daishin.creon"/>
        <package android:name="com.kbsec.mts.iplustarngm2"/>
        <package android:name="com.miraeasset.trade"/>
        <package android:name="com.truefriend.smartnewa"/>
        <package android:name="com.daishin"/>
        <package android:name="com.wooriwm.txsmart"/>
        <package android:name="com.hanasec.stock"/>
        <package android:name="kr.co.koreastock.mts.android"/>
        <package android:name="com.daou.herosw"/>
        <package android:name="com.wooriwm.mugsmart"/>
        <package android:name="com.miraeasset.global"/>
        <package android:name="com.shinhaninvest.nsmts"/>
        <package android:name="com.truefriend.neosmarta"/>
        <package android:name="com.wooribank.smart.npib"/>
        <package android:name="com.epost.psf.sdsi"/>
        <package android:name="com.dunamu.stockplus"/>
        <package android:name="com.samsungpop.android.mpop"/>
        <package android:name="com.towneers.www"/>
        <package android:name="com.coupang.mobile"/>
        <package android:name="com.tmon"/>
        <package android:name="com.wemakeprice"/>
        <package android:name="com.ebay.kr.gmarket"/>
        <package android:name="com.ebay.kr.auction"/>
        <package android:name="com.elevenst"/>
        <package android:name="kr.co.vcnc.tada"/>
        <package android:name="com.kt.main"/>
        <package android:name="com.skn.skrent"/>
        <package android:name="com.encardirect.app"/>
        <package android:name="com.hcs.duser"/>
        <package android:name="kr.co.peaplecar"/>
        <package android:name="com.greencar"/>
        <package android:name="socar.Socar"/>
        <package android:name="com.kakao.taxi"/>
        <package android:name="kst.macaron.rider"/>
        <package android:name="com.nhnent.payapp"/>
        <package android:name="com.samsung.android.spay"/>
        <package android:name="com.lcacApp"/>
        <package android:name="kvp.jjy.MispAndroid320"/>
        <package android:name="viva.republica.toss"/>
        <package android:name="com.bccard.bcsmartapp"/>
        <package android:name="com.hyundaicard.appcard"/>
        <package android:name="kr.co.samsungcard.mpocket"/>
        <package android:name="com.kakaopay.app"/>
        <package android:name="com.lguplus.mobile.cs"/>
        <package android:name="uplus.membership"/>
        <package android:name="kt.co.ktmmobile"/>
        <package android:name="com.ktshow.cs"/>
        <package android:name="com.olleh.android.oc2"/>
        <package android:name="com.tms"/>
        <package android:name="Com.sktelecom.minit"/>
        <package android:name="com.Classting"/>
        <package android:name="com.vaultmicro.kidsnote"/>
        <package android:name="com.imcompany.school2"/>
        <package android:name="com.iscreammedia.app.hiclass.android"/>
        <package android:name="com.google.android.apps.youtube.kids"/>
        <package android:name="air.com.nhncorp.jrapp"/>
        <package android:name="kr.co.rememberapp"/>
        <package android:name="com.teamblind.blind"/>
        <package android:name="kr.go.keis.worknet"/>
        <package android:name="kreditdata.kreditjob"/>
        <package android:name="com.jinhak.careercatch"/>
        <package android:name="com.wanted.android.wanted"/>
        <package android:name="incruit.app"/>
        <package android:name="kr.co.saramin.brandapp"/>
        <package android:name="com.jobkorea.app"/>
        <package android:name="ctrip.english"/>
        <package android:name="com.airbnb.android"/>
        <package android:name="kr.goodchoice.abouthere"/>
        <package android:name="com.interpark.tour.mobile.main"/>
        <package android:name="com.booking"/>
        <package android:name="com.agoda.mobile.consumer"/>
        <package android:name="com.hcom.android"/>
        <package android:name="com.cultsotry.yanolja.nativeapp"/>
        <package android:name="com.androVM.vmconfig"/>
        <package android:name="com.bluestacks.setup"/>
        <package android:name="com.bluestacks.bstfolder"/>
        <package android:name="com.bluestacks.BstCommandProcessor"/>
        <package android:name="com.uncube.account"/>
        <package android:name="com.svox.pico"/>
        <package android:name="org.greatfruit.andy"/>
        <package android:name="org.greatfruit.andy.ime"/>
        <package android:name="org.greatfruit.andy.appmonitor"/>
        <package android:name="com.bignox.app.noxservice"/>
        <package android:name="com.google.android.launcher.layouts.genymotion"/>
        <package android:name="com.genymotion.systempatcher"/>
        <package android:name="com.genymotion.tasklocker"/>
        <package android:name="com.genymotion.genyd"/>
        <package android:name="com.genymotion.superuser"/>
        <package android:name="com.microvirt.installer"/>
        <package android:name="com.microvirt.guide"/>
        <package android:name="com.microvirt.tools"/>
        <package android:name="com.microvirt.memuime"/>
        <package android:name="com.microvirt.launcher2"/>
        <package android:name="com.microvirt.download"/>
        <package android:name="com.pk.peak.launcher3"/>
        <package android:name="com.cyanogenmod.filemanager"/>
        <package android:name="com.noshufou.android.su"/>
        <package android:name="com.speedsoftware.rootexplorer"/>
        <package android:name="com.tegrak.lagfix"/>
        <package android:name="com.devadvance.rootcloakplus"/>
        <package android:name="com.devadvance.rootcloak"/>
        <package android:name="eu.chainfire.supersu"/>
        <package android:name="com.thirdparty.superuser"/>
        <package android:name="com.koushikdutta.superuser"/>
        <package android:name="com.zachspong.temprootremovejb"/>
        <package android:name="com.ramdroid.appquarantine"/>
        <package android:name="com.cyanogenmod.filemanager"/>
    </queries>
</manifest>
